.EventDetailsContainer {
  text-align: center;
  margin: 0;
  padding: 15px;
  font-weight: 300;
  background-color: rgb(0, 6, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EventImage {
  border-radius: 2rem;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  text-align: center;
  max-width: 35rem;
  max-height:25rem;
}
.Tickets {

  padding: 0.4rem;
  margin: 0.4rem 0.6rem;
  float: left;
  border-radius: 2rem;
  display: flex;
 
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Ticket {
  border: solid #fff 0.2rem;
  border-radius: 2rem;
  padding: 0.4rem;
  margin: 0.4rem 0.6rem;
}
.TicketImages {
  border-radius: 2rem;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 0 2rem;
}
.TicketsList{
  flex-direction:row ;
}

.EventTitle{
  font-weight: 350;
}

.EventDetailsButtons {
  display: inline-block;
  margin: 10px;
  padding: 10px 27.5px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 200px;
  background-color: transparent;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  border: 1px solid #fff;
  color: #fff;
}
.EventDetailsButtons:hover,
.EventDetailsButtons:active {
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(67, 94, 248, 1) 6%,
    rgba(80, 92, 238, 1) 8%,
    rgba(88, 91, 232, 1) 15%,
    rgba(113, 88, 213, 1) 28%,
    rgba(137, 85, 195, 1) 38%,
    rgba(142, 84, 191, 1) 51%,
    rgba(158, 82, 179, 1) 60%,
    rgba(191, 78, 154, 1) 71%,
    rgba(252, 70, 107, 1) 84%
  );
  border: 1px solid rgb(255, 204, 0);
  color: #fff;
}